@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  align-items: center;
}

.page-counter {
  margin: 0 15px; /* Add space between the text and buttons */
}

button {
  margin: 0 55px; /* Add space around buttons, if needed */
  width: auto;
  height: auto;
}

.btn_margin{
  margin-right:10px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;  /* Đảm bảo kích thước ổn định */
  height: 60px;
  overflow: hidden;
  border-radius: 50%;  /* Tạo hình tròn */
  border-color: black;
}

.avatar-image {
  object-fit: cover;  /* Đảm bảo ảnh không bị méo */
  width: 60px;  /* Đảm bảo kích thước ổn định */
  height: 60px;
}

.center { 
  margin: auto;
  width: 16%;
  padding: 10px;
}
